.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.VerticalCenter {
  vertical-align: middle;
}

.PrimaryColor {
  color: white;
}

.CardContainer {
  flex-direction: column;
  justify-self: flex-start;
  border-radius: 4px;
  padding: 16px;
  margin-top: 20px;
  min-width: 500px;
}

.flex-start {
  justify-self: flex-start;
}
.btn-light {
  background-color: #e6e6e6 !important;
}

.no-bullet {
  list-style-type: none;
  padding-inline-start: 0px;
}
.filter-layout {
  flex-direction: column;
  justify-self: flex-start;
}
.filter-item {
  width: 100%;
  padding: 1em 1em;
}
li:hover {
  background-color: #e6e6e6;
}
li.selected {
  color: #e6e6e6;
}

#sort-dropdown {
  background-color: #ffffff;
  border: 0px;
  border-bottom: 2px solid #282c34;
  color: black;
  border-radius: 0px;
  box-shadow: none;
  padding: 0px 0px 2px 0px;
}
